rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only read and write to their own document.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Quizzes can be read by any authenticated user.
    match /quizzes/{quizId} {
      allow read: if request.auth != null;
    }

    // Results can be created by authenticated users for themselves.
    // Users can only read their own results.
    match /results/{resultId} {
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    // Allow users to log violations for themselves during a quiz
    match /violations/{violationId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    // Leaderboard can be read by any authenticated user.
    match /leaderboard/{entry} {
        allow read: if request.auth != null;
    }
  }
}
